@import "mapbox-gl.css";

a.thinknetmaps-ctrl-logo {
  width: 140px;
  height: 20px;
  margin: 0 0 -3px -3px;
  display: block;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: svg-load('svg/THiNKNET_Maps_color.svg');
}

a.thinknetmaps-ctrl-logo.white {
  background-image: svg-load('svg/THiNKNET_Maps_white.svg');
}

.mapboxgl-missing-css {
  display: none;
}
